#mlColorPicker{
	border:1px solid black;
	background-color:#DDDDDD;
	padding:5px;
}

#mlSelectedColorDiv{
	float:left;
	width:43px;
	height:20px;
	border:solid 1px black;
	background-color:white;
	margin-right:5px;
}
#mlSelectedColorText{
	float:left;
	width:60px;
	border:solid 1px black;
	font-size:small;
}
#mlColors{
	margin-top:30px;
	border-bottom:1px solid black;
	border-right:1px solid black;
	clear:both;
	width:260px;
	height:156px;
}
.mlColor{
	border-left:1px solid black;
	border-top:1px solid black;
	float:left;
	width:12px;
	height:12px;
}

