<table class="noshow">
	<tr>
   		<td width="50%" valign="top">
			<table class="noshow">
      			<tr>
        			<td width="50%" valign="top">
						<fieldset class="adminform">
							<legend><?php echo JText::_( 'GLOBAL PARAMETERS' ); ?></legend>
							<table class="admintable" cellspacing="1">
								<tbody>
      								<tr>
	          							<td width="300" class="key">
											<span class="editlinktip hasTip" title="<?php echo JText::_( 'EVENT NUMBER' ); ?>::<?php echo JText::_('EVENT NUMBER TIP'); ?>">
												<?php echo JText::_( 'EVENT NUMBER' ); ?>
											</span>
										</td>
       									<td valign="top">
        									<?php
		  									$nr = array();
											$nr[] = JHTML::_('select.option', '5', 5 );
											$nr[] = JHTML::_('select.option', '10', 10 );
											$nr[] = JHTML::_('select.option', '15', 15 );
											$nr[] = JHTML::_('select.option', '20', 20 );
											$nr[] = JHTML::_('select.option', '25', 25 );
											$nr[] = JHTML::_('select.option', '30', 30 );
											$nr[] = JHTML::_('select.option', '50', 50 );
											$nrevents = JHTML::_('select.genericlist', $nr, 'globalparams[display_num]', 'size="1" class="inputbox"', 'value', 'text', $this->globalparams->get('display_num') );
											echo $nrevents;
        									?>
       	 								</td>
      								</tr>
      								<tr>
	          							<td width="300" class="key">
											<span class="editlinktip hasTip" title="<?php echo JText::_( 'CAT DISPLAY' ); ?>::<?php echo JText::_('CAT DISPLAY DESC'); ?>">
												<?php echo JText::_( 'CAT DISPLAY' ); ?>
											</span>
										</td>
       									<td valign="top">
											<input type="text" name="globalparams[cat_num]" value="<?php echo $this->globalparams->get('cat_num'); ?>" size="3" maxlength="3" />
       	 								</td>
      								</tr>
      								<tr>
	          							<td width="300" class="key">
											<span class="editlinktip hasTip" title="<?php echo JText::_( 'EMPTY CATEGORIES' ); ?>::<?php echo JText::_('EMPTY CATEGORIES DESC'); ?>">
												<?php echo JText::_( 'EMPTY CATEGORIES' ); ?>
											</span>
										</td>
       									<td valign="top">
        									<?php
											echo JHTML::_('select.booleanlist', 'globalparams[empty_cat]', 'class="inputbox"', $this->globalparams->get('empty_cat'), 'Show', 'Hide' );
        									?>
       	 								</td>
      								</tr>
      								<tr>
	          							<td width="300" class="key">
											<span class="editlinktip hasTip" title="<?php echo JText::_( 'FILTER' ); ?>::<?php echo JText::_('FILTER DESC'); ?>">
												<?php echo JText::_( 'FILTER' ); ?>
											</span>
										</td>
       									<td valign="top">
        									<?php
											echo JHTML::_('select.booleanlist', 'globalparams[filter]', 'class="inputbox"', $this->globalparams->get('filter'), 'Show', 'Hide' );
        									?>
       	 								</td>
      								</tr>
      								<tr>
	          							<td width="300" class="key">
											<span class="editlinktip hasTip" title="<?php echo JText::_( 'DISPLAY SELECT' ); ?>::<?php echo JText::_('DISPLAY SELECT DESC'); ?>">
												<?php echo JText::_( 'DISPLAY SELECT' ); ?>
											</span>
										</td>
       									<td valign="top">
        									<?php
											echo JHTML::_('select.booleanlist', 'globalparams[display]', 'class="inputbox"', $this->globalparams->get('display'), 'Show', 'Hide' );
        									?>
       	 								</td>
      								</tr>
      								<tr valign="top">
	          							<td width="300" class="key">
											<span class="editlinktip hasTip" title="<?php echo JText::_( 'SHOW ICONS' ); ?>::<?php echo JText::_('SHOW ICONS DESC'); ?>">
												<?php echo JText::_( 'SHOW ICONS' ); ?>
											</span>
										</td>
       									<td valign="top">
		 									<?php
          									echo JHTML::_('select.booleanlist', 'globalparams[icons]', 'class="inputbox"', $this->globalparams->get('icons'), 'Show', 'Hide' );
       										?>
       	 								</td>
      								</tr>
      								<tr valign="top">
	          							<td width="300" class="key">
											<span class="editlinktip hasTip" title="<?php echo JText::_( 'PRINT ICON' ); ?>::<?php echo JText::_('PRINT ICON DESC'); ?>">
												<?php echo JText::_( 'PRINT ICON' ); ?>
											</span>
										</td>
       									<td valign="top">
		 									<?php
          									echo JHTML::_('select.booleanlist', 'globalparams[show_print_icon]', 'class="inputbox"', $this->globalparams->get('show_print_icon'), 'Show', 'Hide' );
       										?>
       	 								</td>
      								</tr>
      								<tr valign="top">
	          							<td width="300" class="key">
											<span class="editlinktip hasTip" title="<?php echo JText::_( 'EMAIL ICON' ); ?>::<?php echo JText::_('EMAIL ICON DESC'); ?>">
												<?php echo JText::_( 'EMAIL ICON' ); ?>
											</span>
										</td>
       									<td valign="top">
		 									<?php
          									echo JHTML::_('select.booleanlist', 'globalparams[show_email_icon]', 'class="inputbox"', $this->globalparams->get('show_email_icon'), 'Show', 'Hide' );
       										?>
       	 								</td>
      								</tr>
								</tbody>
							</table>
						</fieldset>
					</td>

					<td width="50%" valign="top">
						<table class="noshow">
      						<tr>
        						<td width="50%" valign="top">
									<fieldset class="adminform">
										<legend><?php echo JText::_( 'ATTENTION' ); ?></legend>
										<table class="admintable" cellspacing="1">
											<tbody>
	 											<tr>
	          										<td>
														<?php echo JText::_( 'GLOBAL PARAM DESC' ); ?>
       	 											</td>
      											</tr>
											</tbody>
										</table>
		 							</fieldset>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>