	<table class="noshow">
      <tr>
        <td width="50%" valign="top">
		<fieldset class="adminform">
			<legend><?php echo JText::_( 'DISPLAY SETTINGS' ); ?></legend>
				<table class="admintable" cellspacing="1">
				<tbody>
	 				<tr>
	          			<td width="300" class="key">
							<span class="editlinktip hasTip" title="<?php echo JText::_( 'SHOW DETAILS' ); ?>::<?php echo JText::_('SHOW DETAILS TIP'); ?>">
								<?php echo JText::_( 'SHOW DETAILS' ); ?>
							</span>
						</td>
       					<td valign="top">
        					<?php
		  						$showdets = array();
								$showdets[] = JHTML::_('select.option', '0', JText::_( 'DETAILS OFF' ) );
								$showdets[] = JHTML::_('select.option', '1', JText::_( 'LINK ON TITLE' ) );
								$showdet = JHTML::_('select.genericlist', $showdets, 'showdetails', 'size="1" class="inputbox"', 'value', 'text', $this->elsettings->showdetails );
								echo $showdet;
        					?>
       	 				</td>
      				</tr>
					<tr>
	          			<td width="300" class="key">
							<span class="editlinktip hasTip" title="<?php echo JText::_( 'DATE STRFTIME' ); ?>::<?php echo JText::_('DATE STRFTIME TIP'); ?>">
								<?php echo JText::_( 'DATE STRFTIME' ); ?>
							</span>
						</td>
       					<td valign="top">
							<input type="text" name="formatdate" value="<?php echo $this->elsettings->formatdate; ?>" size="15" maxlength="15" />
							&nbsp;<a href="http://www.php.net/strftime" target="_blank"><?php echo JText::_( 'PHP STRFTIME MANUAL' ); ?></a>
       	 				</td>
      				</tr>
					<tr>
	          			<td width="300" class="key">
							<span class="editlinktip hasTip" title="<?php echo JText::_( 'TIME STRFTIME' ); ?>::<?php echo JText::_('TIME STRFTIME TIP'); ?>">
								<?php echo JText::_( 'TIME STRFTIME' ); ?>
							</span>
						</td>
       					<td valign="top">
							<input type="text" name="formattime" value="<?php echo $this->elsettings->formattime; ?>" size="15" maxlength="15" />
							&nbsp;<a href="http://www.php.net/strftime" target="_blank"><?php echo JText::_( 'PHP STRFTIME MANUAL' ); ?></a>
       	 				</td>
      				</tr>
					<tr>
	          			<td width="300" class="key">
							<span class="editlinktip hasTip" title="<?php echo JText::_( 'TIME NAME' ); ?>::<?php echo JText::_('TIME NAME TIP'); ?>">
								<?php echo JText::_( 'TIME NAME' ); ?>
							</span>
						</td>
       					<td valign="top">
							<input type="text" name="timename" value="<?php echo $this->elsettings->timename; ?>" size="15" maxlength="10" />
       	 				</td>
      				</tr>
      				<tr>
	          			<td width="300" class="key">
							<span class="editlinktip hasTip" title="<?php echo JText::_( 'STORE IP' ); ?>::<?php echo JText::_('STORE IP TIP'); ?>">
								<?php echo JText::_( 'STORE IP' ); ?>
							</span>
						</td>
       					<td valign="top">
							<?php
								echo JHTML::_('select.booleanlist', 'storeip', 'class="inputbox"', $this->elsettings->storeip );
        					?>
       	 				</td>
      				</tr>
				</tbody>
			</table>
		  </fieldset>

		  <fieldset class="adminform">
			<legend><?php echo JText::_( 'EVENT HANDLING' ); ?></legend>
				<table class="admintable" cellspacing="1">
				<tbody>
					<tr>
        				<td width="300" class="key">
							<span class="editlinktip hasTip" title="<?php echo JText::_( 'OLD EVENTS' ); ?>::<?php echo JText::_('OLD EVENTS TIP'); ?>">
								<?php echo JText::_( 'OLD EVENTS' ); ?>
							</span>
						</td>
      					<td valign="top">
							<?php
							$mode = 0;
							if ($this->elsettings->oldevent >= 1) {
								$mode = 1;
							} // if
							?>
							<select name="oldevent" size="1" class="inputbox" onChange="changeoldMode()">
  								<option value="0"<?php if ($this->elsettings->oldevent == 0) { ?> selected="selected"<?php } ?>><?php echo JText::_( 'DO NOTHING' ); ?></option>
  								<option value="1"<?php if ($this->elsettings->oldevent == 1) { ?> selected="selected"<?php } ?>><?php echo JText::_( 'DELETE OLD EVENTS' ); ?></option>
  								<option value="2"<?php if ($this->elsettings->oldevent == 2) { ?> selected="selected"<?php } ?>><?php echo JText::_( 'ARCHIVE OLD EVENTS' ); ?></option>
							</select>&nbsp;
							<span class="error hasTip" title="<?php echo JText::_( 'WARNING' ); ?>::<?php echo JText::_( 'OLD EVENTS WARN' ); ?>">
								<?php echo $this->WarningIcon(); ?>
							</span>
      					</td>
      				</tr>
	 				<tr id="old"<?php if (!$mode) echo ' style="display:none"'; ?>>
	          			<td width="300" class="key">
							<span class="editlinktip hasTip" title="<?php echo JText::_( 'NUMBER DELETE DAYS' ); ?>::<?php echo JText::_('NUMBER DELETE DAYS TIP'); ?>">
								<?php echo JText::_( 'NUMBER DELETE DAYS' ); ?>
							</span>
						</td>
       					<td valign="top">
							<input type="text" name="minus" value="<?php echo $this->elsettings->minus; ?>" size="3" maxlength="2" />
       	 				</td>
      				</tr>
				</tbody>
				</table>
		  </fieldset>

		  <fieldset class="adminform">
			<legend><?php echo JText::_( 'MAIL HANDLING' ); ?></legend>
				<table class="admintable" cellspacing="1">
				<tbody>
	  				<tr>
	          			<td width="300" class="key">
							<span class="editlinktip hasTip" title="<?php echo JText::_( 'MAIL NEW SUBMISSION' ); ?>::<?php echo JText::_('MAIL NEW SUBMISSION TIP'); ?>">
								<?php echo JText::_( 'MAIL NEW SUBMISSION' ); ?>
							</span>
						</td>
       					<td valign="top">
							<?php
							$mode = 0;
							if ($this->elsettings->mailinform >= 1) {
							$mode = 1;
							} // if
							?>
							<select name="mailinform" size="1" class="inputbox" onChange="changemailMode()">
  								<option value="0"<?php if ($this->elsettings->mailinform == 0) { ?> selected="selected"<?php } ?>><?php echo JText::_( 'DISABLED' ); ?></option>
  								<option value="1"<?php if ($this->elsettings->mailinform == 1) { ?> selected="selected"<?php } ?>><?php echo JText::_( 'ONLY NEW EVENT' ); ?></option>
  								<option value="2"<?php if ($this->elsettings->mailinform == 2) { ?> selected="selected"<?php } ?>><?php echo JText::_( 'ONLY NEW VENUE' ); ?></option>
		  						<option value="3"<?php if ($this->elsettings->mailinform == 3) { ?> selected="selected"<?php } ?>><?php echo JText::_( 'BOTH' ); ?></option>
							</select>
       	 				</td>
      				</tr>
					<tr id="mail1"<?php if (!$mode) echo ' style="display:none"'; ?>>
	          			<td width="300" class="key">
							<span class="editlinktip hasTip" title="<?php echo JText::_( 'MAIL RECIPIENT' ); ?>::<?php echo JText::_('MAIL RECIPIENT TIP'); ?>">
								<?php echo JText::_( 'MAIL RECIPIENT' ); ?>
							</span>
						</td>
       					<td valign="top">
							<input type="text" name="mailinformrec" value="<?php echo $this->elsettings->mailinformrec; ?>" size="40" maxlength="220" />
       	 				</td>
      				</tr>
      				<tr>
	          			<td width="300" class="key">
							<span class="editlinktip hasTip" title="<?php echo JText::_( 'MAIL NEW USER SUBMISSION' ); ?>::<?php echo JText::_('MAIL NEW USER SUBMISSION TIP'); ?>">
								<?php echo JText::_( 'MAIL NEW USER SUBMISSION' ); ?>
							</span>
						</td>
       					<td valign="top">
							<select name="mailinformuser" size="1" class="inputbox">
  								<option value="0"<?php if ($this->elsettings->mailinformuser == 0) { ?> selected="selected"<?php } ?>><?php echo JText::_( 'DISABLED' ); ?></option>
  								<option value="1"<?php if ($this->elsettings->mailinformuser == 1) { ?> selected="selected"<?php } ?>><?php echo JText::_( 'ONLY NEW EVENT' ); ?></option>
  								<option value="2"<?php if ($this->elsettings->mailinformuser == 2) { ?> selected="selected"<?php } ?>><?php echo JText::_( 'ONLY NEW VENUE' ); ?></option>
		  						<option value="3"<?php if ($this->elsettings->mailinformuser == 3) { ?> selected="selected"<?php } ?>><?php echo JText::_( 'BOTH' ); ?></option>
							</select>
       	 				</td>
      				</tr>
				</tbody>
			</table>
		</fieldset>

		</td>
        <td width="50%" valign="top">

       	<fieldset class="adminform">
			<legend><?php echo JText::_( 'IMAGE HANDLING' ); ?></legend>
				<table class="admintable" cellspacing="1">
				<tbody>
					<tr>
	          			<td width="300" class="key">
							<span class="editlinktip hasTip" title="<?php echo JText::_( 'IMAGE FILESIZE' ); ?>::<?php echo JText::_('IMAGE FILESIZE TIP'); ?>">
								<?php echo JText::_( 'IMAGE FILESIZE' ); ?>
							</span>
						</td>
       					<td valign="top">
							<input type="text" name="sizelimit" value="<?php echo $this->elsettings->sizelimit; ?>" size="10" maxlength="10" />
       	 				</td>
      				</tr>
					<tr>
	          			<td width="300" class="key">
							<span class="editlinktip hasTip" title="<?php echo JText::_( 'IMAGE HEIGHT' ); ?>::<?php echo JText::_('IMAGE HEIGHT TIP'); ?>">
								<?php echo JText::_( 'IMAGE HEIGHT' ); ?>
							</span>
						</td>
       					<td valign="top">
         					<input type="text" name="imagehight" value="<?php echo $this->elsettings->imagehight; ?>" size="10" maxlength="10" />
       	 				</td>
      				</tr>
					<tr>
	          			<td width="300" class="key">
							<span class="editlinktip hasTip" title="<?php echo JText::_( 'IMAGE WIDTH' ); ?>::<?php echo JText::_('IMAGE WIDTH TIP'); ?>">
								<?php echo JText::_( 'IMAGE WIDTH' ); ?>
							</span>
						</td>
       					<td valign="top">
         					<input type="text" name="imagewidth" value="<?php echo $this->elsettings->imagewidth; ?>" size="10" maxlength="10" />
         					<span class="error hasTip" title="<?php echo JText::_( 'WARNING' );?>::<?php echo JText::_( 'WARNING MAX IMAGEWIDTH' ); ?>">
								<?php echo $this->WarningIcon(); ?>
							</span>
       	 				</td>
      				</tr>
					<tr>
	          			<td width="300" class="key">
							<span class="editlinktip hasTip" title="<?php echo JText::_( 'GD LIBRARY' ); ?>::<?php echo JText::_('GD LIBRARY TIP'); ?>">
								<?php echo JText::_( 'GD LIBRARY' ); ?>
							</span>
						</td>
       					<td valign="top">
         					<?php
							$mode = 0;
							if ($this->elsettings->gddisabled == 1) {
								$mode = 1;
							} // if

							//is the gd library installed on the server running EventList?
							if ($gdv = ELImage::gdVersion()) {

								//is it Version two or higher? If yes let the user the choice
   								if ($gdv >= 2) {
   								?>
       								<input type="radio" id="gddisabled0" name="gddisabled" value="0" onclick="changegdMode(0)"<?php if (!$mode) echo ' checked="checked"'; ?>/><?php echo JText::_( 'NO' ); ?>
									<input type="radio" id="gddisabled1" name="gddisabled" value="1" onclick="changegdMode(1)"<?php if ($mode) echo ' checked="checked"'; ?>/><?php echo JText::_( 'YES' ); ?>
       							<?php
       								$note	= JText::_( 'GD VERSION TWO' );
       								$color	= 'green';

       							//No it is version one...disable thumbnailing
   								} else {
   								?>
   								<input type="hidden" name="gddisabled" value="0" />
   								<?php
   								$note	= JText::_( 'GD VERSION ONE' );
   								$color	= 'red';
   								}

   							//the gd library is not available on this server...disable thumbnailing
							} else {
							?>
								<input type="hidden" name="gddisabled" value="0" />
   							<?php
   								$note	= JText::_( 'NO GD LIBRARY' );
   								$color	= 'red';
							}
							?>
							<br />
							<strong><?php echo JText::_( 'STATUS' ).':'; ?></strong>
							<font color="<?php echo $color; ?>"><?php echo $note; ?></font>
						</td>
      				</tr>
      				<tr id="gd1"<?php if (!$mode) echo ' style="display:none"'; ?>>
	          			<td width="300" class="key">
							<span class="editlinktip hasTip" title="<?php echo JText::_( 'IMAGE LIGHTBOX' ); ?>::<?php echo JText::_('IMAGE LIGHTBOX TIP'); ?>">
								<?php echo JText::_( 'IMAGE LIGHTBOX' ); ?>
							</span>
						</td>
       					<td valign="top">
         					<?php
							$html = JHTML::_('select.booleanlist', 'lightbox', 'class="inputbox"', $this->elsettings->lightbox );
							echo $html;
							?>
       	 				</td>
      				</tr>
				</tbody>
			</table>
		</fieldset>

		<fieldset class="adminform">
			<legend><?php echo JText::_( 'META HANDLING' ); ?></legend>
				<table class="admintable" cellspacing="1">
				<tbody>
					<tr>
	          			<td width="300" class="key">
							<span class="editlinktip hasTip" title="<?php echo JText::_( 'META KEYWORDS' ); ?>::<?php echo JText::_('META KEYWORDS TIP'); ?>">
								<?php echo JText::_( 'META KEYWORDS' ); ?>
							</span>
						</td>
       					<td valign="top">
							<?php
								$meta_key = explode(", ", $this->elsettings->meta_keywords);
							?>
							<select name="meta_keywords[]" multiple="multiple" size="5" class="inputbox">
								<option value="[title]" <?php if(in_array("[title]",$meta_key)) { echo "selected=\"selected\""; } ?>>
								<?php echo JText::_( 'EVENT TITLE' ); ?></option>
								<option value="[a_name]" <?php if(in_array("[a_name]",$meta_key)) { echo "selected=\"selected\""; } ?>>
								<?php echo JText::_( 'VENUE' ); ?></option>
								<!-- <option value="[locid]" <?php if(in_array("[locid]",$meta_key)) { echo "selected=\"selected\""; } ?>>
								<?php echo JText::_( 'CITY' ); ?></option> -->
								<option value="[catsid]" <?php if(in_array("[catsid]",$meta_key)) { echo "selected=\"selected\""; } ?>>
								<?php echo JText::_( 'CATEGORY' ); ?></option>
								<option value="[dates]" <?php if(in_array("[dates]",$meta_key)) { echo "selected=\"selected\""; } ?>>
								<?php echo JText::_( 'DATE' ); ?></option>
								<option value="[times]" <?php if(in_array("[times]",$meta_key)) { echo "selected=\"selected\""; } ?>>
								<?php echo JText::_( 'EVENT TIME' ); ?></option>
								<option value="[enddates]" <?php if(in_array("[enddates]",$meta_key)) { echo "selected=\"selected\""; } ?>>
								<?php echo JText::_( 'ENDDATE' ); ?></option>
								<option value="[endtimes]" <?php if(in_array("[endtimes]",$meta_key)) { echo "selected=\"selected\""; } ?>>
								<?php echo JText::_( 'END TIME' ); ?></option>
							</select>
       	 				</td>
      				</tr>
					<tr>
						<td width="300" class="key">
							<span class="editlinktip hasTip" title="<?php echo JText::_( 'META DESCRIPTION' ); ?>::<?php echo JText::_('META DESCRIPTION TIP'); ?>">
								<?php echo JText::_( 'META DESCRIPTION' ); ?>
							</span>
						</td>
						<td>
							<script type="text/javascript">
							<!--
								function insert_keyword($keyword) {
									var meta_description = $("meta_description").value;
									meta_description += " "+$keyword;
									$("meta_description").value = meta_description;
								}

								function include_description() {
									$("meta_description").value = "<?php echo JText::_( 'META DESCRIPTION STANDARD' ); ?>";
								}
							-->
							</script>

							<input class="inputbox" type="button" onclick="insert_keyword('[title]')" value="<?php echo JText::_( 'EVENT TITLE' ); ?>" />
							<input class="inputbox" type="button" onclick="insert_keyword('[a_name]')" value="<?php echo JText::_( 'VENUE' ); ?>" />
							<input class="inputbox" type="button" onclick="insert_keyword('[catsid]')" value="<?php echo JText::_( 'CATEGORY' ); ?>" />
							<input class="inputbox" type="button" onclick="insert_keyword('[dates]')" value="<?php echo JText::_( 'DATE' ); ?>" />
							<p>
								<input class="inputbox" type="button" onclick="insert_keyword('[times]')" value="<?php echo JText::_( 'EVENT TIME' ); ?>" />
								<input class="inputbox" type="button" onclick="insert_keyword('[enddates]')" value="<?php echo JText::_( 'ENDDATE' ); ?>" />
								<input class="inputbox" type="button" onclick="insert_keyword('[endtimes]')" value="<?php echo JText::_( 'END TIME' ); ?>" />
							</p>
							<textarea name="meta_description" id="meta_description" cols="35" rows="3" class="inputbox"><?php echo $this->elsettings->meta_description; ?></textarea>
							<br/>
							<input type="button" value="<?php echo JText::_( 'META DESCRIPTION BUTTON' ); ?>" onclick="include_description()" />
							&nbsp;
							<span class="error hasTip" title="<?php echo JText::_( 'WARNING' );?>::<?php echo JText::_( 'META DESCRIPTION WARN' ); ?>">
								<?php echo $this->WarningIcon(); ?>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</fieldset>

		</td>
      </tr>
	</table>