<table width="100%" bgcolor="#f1f1f1" cellpadding="0" cellspacing="0">
<tr>
	<td valign="top" align="center">

		<table width="530" bgcolor="#f1f1f1" cellpadding="0" cellspacing="0">
			<tr>
				<td bgcolor="#ffffff" class="hbnr" colspan="3"><img src="components/com_acajoom/templates/default/tpl0_top_header.jpg" width="530" height="137" border="0" alt="e Newsletter" /></td>
			</tr>
			<tr>
				<td bgcolor="#ffffff" colspan="3"><img src="components/com_acajoom/templates/default/tpl0_underban.jpg" width="530" height="22" border="0" alt="." /></td>
			</tr>
			<tr>

				<!-- /// gutter \\\ -->
				<td width="15" valign="top" bgcolor="#ffffff"><img src="components/com_acajoom/templates/default/tpl0_spacer.gif" width="15" height="1" border="0" alt="1" /></td>
				<!-- \\\ gutter /// -->

				<!-- /// content cell \\\ -->
				<td width="500" valign="top" bgcolor="#ffffff">
				<br />
				  <p></p>
				  <p>Your Subscription:<br />
				  [SUBSCRIPTIONS] </p>
				  <p>&nbsp;</p>
				</td>
				<!-- \\\ content cell /// -->
				<!-- /// gutter \\\ -->
				<td width="15" valign="top" bgcolor="#ffffff"><img src="components/com_acajoom/templates/default/tpl0_spacer.gif" width="15" height="1" border="0" alt="1" />
				</td>
				<!-- \\\ gutter /// -->

			</tr>

<!-- /// footer area with contact info and opt-out link \\\ -->
		<tr>
			<td bgcolor="#ffffff" colspan="3"><img src="components/com_acajoom/templates/default/tpl0_abovefooter.jpg" width="530" height="22" border="0" alt="." /></td>
		</tr>
		<tr>
			<td bgcolor="#CACACA" style="border-top: 1px solid #aeaeae;" valign="middle" align="center" colspan="3">
				<p class="footerText">
				<a href="http://www.joobisoft.com"><img src="components/com_acajoom/templates/default/tpl0_powered_by.gif" alt="Powered By Joobi" width="129" height="60" border="0" /></a></p>
			</td>
		</tr>
	</table>
<!-- \\\ footer area with contact info and opt-out link /// -->


	</td>
</tr>
</table>
<!-- \\\ Newsletter Powered by Acajoom!  /// --> 

<br />